Repository kaiyuanshe/open-hackathon, pull requests merged in 2020-04, with the labels that each got.

#792 更新docker-compose和Dockerfile
  deploy/hackathon-docker/Dockerfile-client
  deploy/hackathon-docker/Dockerfile-server
  deploy/hackathon-docker/docker-compose.yml
  deploy/hackathon-docker/docker-entrypoint-client.sh
  deploy/hackathon-docker/docker-entrypoint-server.sh
  open-hackathon-client/requirements.txt
  open-hackathon-server/requirements.txt
Labels: ohp-client, ohp-server

#796 template refactoring && add api test
  open-hackathon-server/requirements.txt
  open-hackathon-server/src/hackathon/hmongo/models.py
  open-hackathon-server/src/hackathon/template/docker_template_unit.py
  open-hackathon-server/src/hackathon/template/k8s_template_unit.py
  open-hackathon-server/src/hackathon/template/template_constants.py
  open-hackathon-server/src/hackathon/template/template_content.py
  open-hackathon-server/src/hackathon/template/template_library.py
  open-hackathon-server/src/hackathon/template/template_unit.py
  open-hackathon-server/src/hackathon/views/__init__.py
  open-hackathon-server/src/hackathon/views/resources.py
  open-hackathon-server/src/hackathon/views/schema/TemplateResource.json
  open-hackathon-server/src/manager.py
  open-hackathon-server/src/tests/apitest/test_template_api.py
  open-hackathon-server/src/tests/apitest/test_user_api.py
  open-hackathon-server/src/tests/conftest.py
Labels: enhancement, ohp-server, quality

#797 hackathon_server admin api test
  deploy/hackathon-docker/Dockerfile-client
  open-hackathon-client/src/client/user/login_manager.py
  open-hackathon-server/src/hackathon/views/__init__.py
  open-hackathon-server/src/hackathon/views/schema/AdminHackathonOrganizerResource.json
  open-hackathon-server/src/tests/apitest/test_admin_api.py
  open-hackathon-server/src/tests/conftest.py
Labels: ohp-client, ohp-server, quality
