Repository kaiyuanshe/open-hackathon, pull requests merged in 2020-03, with the labels that each got.

#764 更新部分markdown文件
  documents/developer_guide.md
  tools/docker-enter/readme.md
Labels: document

#776 初始化测试，以及修复 py3 迁移 bug
  .gitignore
  open-hackathon-server/requirements.txt
  open-hackathon-server/src/hackathon/hmongo/__init__.py
  open-hackathon-server/src/hackathon/hmongo/database.py
  open-hackathon-server/src/hackathon/hmongo/models.py
  open-hackathon-server/src/hackathon/log.py
  open-hackathon-server/src/hackathon/logging.conf
  open-hackathon-server/src/hackathon/user/__init__.py
  open-hackathon-server/src/hackathon/user/oauth_login.py
  open-hackathon-server/src/hackathon/user/user_manager.py
  open-hackathon-server/src/hackathon/user/user_profile_manager.py
  open-hackathon-server/src/hackathon/util.py
  open-hackathon-server/src/hackathon/views/resources.py
  open-hackathon-server/src/manager.py
  open-hackathon-server/src/reset_db.py
  open-hackathon-server/src/run.py
  open-hackathon-server/src/setup_db.py
  open-hackathon-server/src/tests/__init__.py
  open-hackathon-server/src/tests/apitest/__init__.py
  open-hackathon-server/src/tests/apitest/test_admin_api.py
  open-hackathon-server/src/tests/apitest/test_experiment_api.py
  open-hackathon-server/src/tests/apitest/test_hackathon_api.py
  open-hackathon-server/src/tests/apitest/test_team_api.py
  open-hackathon-server/src/tests/apitest/test_template_api.py
  open-hackathon-server/src/tests/apitest/test_user_api.py
  open-hackathon-server/src/tests/conftest.py
  open-hackathon-server/test/apitest/run.py
  open-hackathon-server/test/unittest/__init__.py
  open-hackathon-server/test/unittest/hk8s/__init__.py
  open-hackathon-server/test/unittest/hk8s/test_k8s_conf.py
  open-hackathon-server/test/unittest/hk8s/test_k8s_expr_starter.py
  open-hackathon-server/test/unittest/hk8s/test_k8s_service_adapter.py
  open-hackathon-server/test/unittest/run.py
Labels: ohp-server

#788 完善python3版本
  open-hackathon-client/src/client/user/login_manager.py
  open-hackathon-server/src/hackathon/hmongo/models.py
  open-hackathon-server/src/hackathon/md5.py
  open-hackathon-server/src/hackathon/user/oauth_login.py
  open-hackathon-server/src/hackathon/util.py
Labels: ohp-client, ohp-server

#789 authing logo
  open-hackathon-client/src/client/static/images/authing.png
  open-hackathon-client/src/client/templates/home.html
Labels: ohp-client
